              
             
      .class1
      {
             height:500px;
             width:100%;
             
      }
      
      .class2,.class3
        {
             float:left;
             margin:5px;
             padding:5px;
             margin-left:20px;
             width:40%;
          }

        #heading
        {
          display: inline-block;
          color:black;
          font-size:30px;
         /* background-image: linear-gradient(to right, rgba(221,160,221,0), rgba(221,160,221,0));*/

        }

        .class4
        {
           font-size:20px;
           padding:20px;
           margin:20px;
           width:500px;
        }